Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

Input the name of Month: June
No. of days: 30 days

Take any word as input from the user and count the number of vowels in the word

In [1]:
x=str(input('enter a word'))
vowels=0
for i in x:
    if (i=='a'or i=='e'or i=='i'or i=='o'or i=='u'or i=='A', i=='E',i=='I',i=='O',i=='U'):
      vowels=vowels+1
print('number of vowels are', vowels)

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
my_list=[34,78,44,23,11,12,93]

even=[]
odd=[]

for i in my_list:

  if i%2==0:
    even.append(i)

  else:
    odd.append(i)
    
print(even)
print(odd)

[34, 78, 44, 12]
[23, 11, 93]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
my_list=['India','USA',35,-4.55]

d_list=[]

for i in my_list:
  d_list.append(type(i))

print(d_list)

[<class 'str'>, <class 'str'>, <class 'int'>, <class 'float'>]

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is greater than 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
numbers = [17, 70, 140, 210, 145, 525, 700]

for i in numbers:
    if i > 630:
        break
    elif i == 140:
        continue
    # check if number is divisible by 7
    elif i % 7 == 0:
        print(i)

70
210
525